<div class="panel-default contant-table scroll-y">
    <table *ngIf="restaurants.length > 0" class="table">
        <tr>
            <th></th>
            <th></th>
            <th>Restaurantes</th>
        </tr>
        <tr *ngFor="let restaurant of restaurants">
            <td><i class="fas fa-minus"></i></td>
            <td><a (click)="edit({{restaurant.Id}})"><i class="fas fa-pencil-alt"></i></a></td>
            <td>{{restaurant.Name}}</td>
        </tr>
    </table>
    <div *ngIf="restaurants.length <= 0" class='border-default'><label>Não tem restaurantes cadastrados</label></div>
</div>