
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
</style>
<div class="panel-title">
    <h4>Cadastro de Restaurante</h4>
</div>
<div class="panel-body" ng-app="restaurantSystem" ng-controller="restaurantCreateController">
    <div class="alert-danger hidden">{{messages}}</div>
    <div class="panel-default">
        <fieldset>
            <legend>Dados</legend>
            <form novalidate>
                <div class="form-group col-md-12">
                    <label class="control-label col-md-12">Nome do Restaurante:</label>
                    <input type="hidden" class="form-control" name="id" ng-model="id" value="{{id}}"/>
                    <input type="text" class="form-control" name="searchName" ng-model="name" value="{{name}}" />
                </div>
                <div class="form-group col-md-12">
                    <button class="btn-cancel" onclick="location.href='/Restaurant'"><i class="fas fa-reply"></i> Cancelar</button>
                    <button class="btn-new" ng-click="createRestaurant()"><i class="fas fa-save"></i> Salvar</button>
                </div>
            </form>
        </fieldset>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/AngularApp/js/restaurantSystem.js"></script>
    <script src="~/AngularApp/js/restaurant/createController.js"></script>
}

