/* You can add global styles to this file, and also import other style files */
@import '~node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Title page */
div.panel-title > h4 {
    text-transform: uppercase;
}

.border-default {
    border: 2px solid black;
    margin-top: 15px;
    padding: 25px;
}

/* Button */
.btn-search, .btn-new, .btn-cancel {
    color: #ffffff;
    border: 2px solid black;
    margin-right: 15px;
}
    .btn-search {
        background-color: #055497;
    }
    .btn-new {
        background-color: #029D0F;
    }
    .btn-cancel {
        background-color: #D1282A;
    }

/* Tables */
.contant-table {
    max-height: 300px;
    overflow-x: auto;
    margin-top: 25px;
}
.table {
    margin-top: 0;
}
    .table, th, td {
        border-collapse: collapse;
        padding: 5px;
    }
    .table tr:first-child {
        border-top: 2px solid black;
    }
    .table th, table td {
        border-left: 2px solid black;
    }
    .table th:last-child, table td:last-child {
        border-right: 2px solid black;
    }
    .table tr:last-child {
        border-bottom: 2px solid black;
    }

    .table tr:nth-child(odd) {
        background-color: #ffffff;
    }
    .table tr:nth-child(even) {
        background-color: #f1f1f1;
    }
    .table tr:hover {
        background-color: #e1e1e1;
        font-weight: bold;
    }
    .table th {
        background-color: #CCCCCC;
    }

    .table td:nth-child(1), .table td:nth-child(2) {
        width: 50px;
        text-align: center;
        font-size: 17px;
    }
    .table td:nth-child(1) a {
        color: #C35659 !important;
    }
    .table td:nth-child(2) a {
        color: #224362 !important;
    }

/* Scroll */
.scroll-x {
    overflow-x: auto;
}
.scroll-y {
    overflow-x: auto;
}

/* fieldset */
fieldset {
    border: 2px solid black;
    padding: 25px;
    padding-top: 0px;
}
    legend {
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
        font-weight: bold;
        width: auto;
        border: none;
    }

/* Field */
input, select {
    border: 2px solid black !important;
    border-radius: 0 !important;
}
label.control-label {
    padding-left: 0;
}